/*
Color principal: #1B2B34
Color secundario: #FECE1A
Color terciario: white
*/

body{
    background-color: #1B2B34;
    color: white;
    font-family: "Helvetica";
    margin:0;
    scroll-behavior: smooth;
}

ul{
  padding: 0;
}

ul, li{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}
section{
  min-height:500px;
}
section:nth-child(odd){
  background-color: #FECE1A;
}
